body {
  padding: 0 10px;
}
.button {
  background-color: darkgreen;
}
.footer {
  margin-right: 10px;
}
.button {
  background-color: darkgreen;
}
.button {
  background-color: darkgreen;
}
.footer {
  margin-right: 10px;
}
.footer {
  margin-right: 10px;
}